:root {
  /* defaults for rem calculations */
  font-size: 16px;

  /* color related */
  --black: #000;
  --white: white;
  --lighter-grey: #e1e1e1;
  --light-grey: #ccc;
  --normal-grey2: #9f9f9f;
  --normal-grey: #8e8d8d;
  --dark-grey: #636363;
  --theme-blue: #415270;
  --theme-dark-blue: #314467;
  --theme-orange: #e77817;
  --linear-gradient-theme: linear-gradient(to bottom, #e77817, #97291e);

  /* line main fine space related */
  --line-width-xxs: 0.06rem;
  --line-width-xs: 0.13rem;
  --line-width-xs2: 0.19rem;

  /* margin space and width related */
  --space-xxs: 0.3rem;
  --space-xxs2: 0.5rem;
  --space-xs: 0.6rem;
  --space-s: 0.9rem;
  --space-1: 1rem;
  --space-2: 1.25rem;
  --space-m: 1.3rem;
  --space-l: 1.6rem;
  --space-ll: 1.875rem;
  --space-xl: 2rem;
  --space-xxl: 2.125rem;

  /* large layout spaces */
  --layout-category-picker: 7.188rem;
  --layout-size-1: 9.375rem;
  --layout-size-side-panel: 16.875rem;
  --layout-logo-main: 15.625rem;
  --layout-seach-field: 17.188rem;
  --layout-main-container: 81.25rem;

  /* font related */
  --font-size-11px: 0.688rem;
  --font-size-12px: 0.75rem;
  --font-size-13px: 0.813rem;
  --font-size-16px: 1rem;
  --font-size-24px: 1.5rem;
  --font-weight-400: 400;
  --font-weight-600: 600;
  --font-weight-800: 800;

  /* transition timing */
  --time-xxs: 0.2s;
  --time-xs: 0.4s;

  /* media breakpoints */
  --media-mobile-width: 48rem;
}

body, button, a {
  font-family: Poppins, sans-serif;
  font-weight: var(--font-weight-400);
  font-style: normal;
  font-size: var(--font-size-12px);
  margin: 0;
}

a:hover {
  text-decoration: none;
}

/* Page specific css starts */

.top-bar {
  border-bottom: var(--line-width-xxs) solid var(--light-grey);
  background-color: var(--white);
}

.top-bar .container{
  display: flex;
  flex-direction: column;
  padding: var(--space-xs) var(--space-s) var(--space-xxs) var(--space-s);
}

.top-bar .row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.top-bar .row1 .primary-buttons {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
  gap: var(--line-width-xs);
}

.top-bar .row1 .primary-buttons button.desktop-element {
  display: none;
}

.top-bar .search-icon {
  width:  var(--space-2);
  height:  var(--space-2);
  margin-left:  var(--space-xxs);
}

.top-bar .logo img{
  flex-grow: 1;
  margin-left: var(--space-xs);
  width: var(--layout-size-1);
}

/* round button specific css */
.round-button {
  border: none;
  border-radius: var(--space-l);
  background: var(--theme-blue);
  color: var(--white);
  min-height: var(--space-xl);
  padding: var(--line-width-xs) var(--space-xs) var(--line-width-xxs) var(--space-xs);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--font-size-11px);
  cursor: pointer;
  margin-left: var(--space-xxs);
  list-style: none;
}

.round-button:hover {
  background: var(--theme-dark-blue);
}

.round-button.gradient-orange {
  background-image: var(--linear-gradient-theme);
}

/* hamburger menu icon creation */

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--space-ll);
  height: var(--space-2);
  cursor: pointer;
  margin-right: var(--space-xxs);
  padding-top: var(--space-xs);
}

.hamburger-menu div{
  width: var(--space-l);
  height: var(--line-width-xs);
  background-color: var(--theme-blue);
  margin: var(--line-width-xs) 0;
}

/* hamburger pannel related css */

.sidepanel  {
  width: var(--layout-size-side-panel);
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  left: calc((var(--layout-size-side-panel)) * -1);
  background-color: var(--white);
  overflow: hidden auto;
  transition: var(--time-xs);
  box-shadow: none;
  display: flex;
  flex-direction: column;
}

.sidepanel::-webkit-scrollbar {
  display: none;
}

.sidepanel.open {
  transform: translateX(100%);
  box-shadow: var(--line-width-xs2) 0 var(--space-xs) calc((var(--space-xxs)) * -1) #000000bf;
}

.sidepanel .top-area {
  display: flex;
  flex-direction: row;
  margin-top: var(--space-xs);
  margin-left: var(--space-s);
}

.sidepanel .top-area-logo {
  margin-left: var(--space-xs);
  align-self: center;
}

.sidepanel .top-area-logo img {
  width: var(--layout-size-1);
}

.sidepanel .bottom-area {
  display: flex;
  flex-direction: column;
  margin-top:  var(--space-m);
}

.bottom-area-primary-actions{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: var(--space-xs);
  padding-bottom: var(--space-l);
  border-bottom: var(--line-width-xxs) solid #415270;
}

/* hamburger menu close button */
.sidepanel .top-area-closebutton {
  width: var(--space-xl);
  height: var(--space-xl);
  align-self: center;
}

.hamburger-menu-close {
  height: var(--space-l);
  width: var(--space-l);
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  margin-top: var(--space-xxs);
}

.hamburger-menu-close .line {
  width: 100%;
  height: var(--line-width-xs);
  background-color: var(--theme-blue);
}

.hamburger-menu-close .line-1 {
  transform: rotate(45deg) translateY(50%);
}

.hamburger-menu-close .line-2 {
  transform: rotate(-45deg) translateY(-50%);
}

/* Search bar related css */
.search-bar .search-bar-container{
  display: none;
  flex-direction: row;
  justify-content: center;
  font-size: var(--font-size-11px);
  color: var(--dark-grey);
  max-height: var(--space-xxl);
  margin-left: var(--space-1);
}

.search-bar .category-picker {
  border: var(--line-width-xxs) solid var(--normal-grey2);
  border-radius: var(--space-ll) 0 0 var(--space-ll);
  padding: var(--space-xs) 0 var(--space-xs) 0;
  min-width: var(--layout-category-picker);
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-bar .search-box {
  padding: var(--space-xs) 0 var(--space-xs) 0;
  border: var(--line-width-xxs) solid var(--normal-grey2);
  border-left: none;
  border-radius: 0 var(--space-ll) var(--space-ll) 0;
  min-width: var(--layout-seach-field);
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-bar .category-picker .categories {
  margin-left: var(--space-s);
}

.search-bar .category-picker .dropdown {
  font-family: icomoon, sans-serif;
  margin-right: var(--space-xs);
  font-weight: var(--font-weight-800);
  color: var(--theme-dark-blue);
  font-size: var(--font-size-12px);
}

.search-bar .search-box input, input::placeholder {
  margin-left: var(--space-s);
  border: none;
  width: 100%;
  outline: none;
  font-size: var(--font-size-13px);
  color: var(--normal-grey);
}

.search-bar .search-box input:focus{
  color: var(--theme-dark-blue);
}

.search-bar .search-box .search-icon {
  margin-top: calc(var(--line-width-xs2) * -1);
  margin-right: var(--space-s);
}

/* main content related css */
.main-content {
  margin-left: var(--space-s);
  margin-right: var(--space-s);
}

h1,h2 {
  text-align: center;
  color: #053D6E;
}

p {
  font: var(--font-weight-400) var(--font-size-16px)/var(--font-size-24px) Poppins, sans-serif;
  color: #4a4a4a;
}

/* Main content breadcrumbs css */
.breadcrumbs {
  font-size: var( --font-size-16px);
  margin: var(--space-2) 0;
  color: var(--theme-blue);
}

.breadcrumbs a {
  text-decoration: none;
  color: var(--theme-orange);
  transition: color var(--time-xxs);
}

/* Topmost grey navigator related css */

.global-navigator {
  background-color: var(--lighter-grey);
}

.global-navigator .container {
  display: none;
  overflow-x: auto;
  font-size: var(--font-size-13px);
  color: var(--dark-grey);
}

.global-navigator .container::-webkit-scrollbar {
  display: none;
}

.global-navigator .global-section-item {
  padding-top: var(--space-xs);
  padding-bottom: var(--space-xs);
  flex: 0 0 auto;
}

.global-navigator .global-section-item a {
  padding-left: var(--space-xs);
  padding-right: var(--space-xs);
  text-decoration: none;
  color: inherit;
}

.global-navigator .global-section-item a:hover {
  color: var(--theme-dark-blue);
}

.global-navigator .global-section-item:not(:last-child) a {
  border-right: var(--line-width-xxs) solid var(--normal-grey);
}

/* Copied accordian collapsable from hlx */

.accordion {
  font-size: var(--font-size-13px);
  color: var(--normal-grey);
}

/* stylelint-disable-next-line no-descending-specificity */
.accordion a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
  user-select: none;
}

.accordion details summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color var(--time-xxs);
}

.accordion details .accordion-item-label {
  padding-top: var(--space-xxs2);
  padding-bottom: var(--space-xxs2);
  border-bottom: var(--line-width-xxs) solid var(--light-grey);
}

/* stylelint-disable-next-line no-descending-specificity */
.accordion details a, .accordion-item-expand {
  margin-left: var(--space-s);
  margin-right: var(--space-s);
}

.accordion details .accordion-item-expand {
  font-weight: var(--font-weight-600);
  font-size: large;
  color: var(--theme-dark-blue);
}

.accordion details:not(:has(.accordion-subitem)) .accordion-item-expand {
  display: none; /* for no sub items, hide the plus symbol */
}

.accordion details[open] .accordion-item-label {
  border-bottom: none;
  
  a {
    color: var(--theme-dark-blue);
  }
}

.accordion details:not(:has(.accordion-subitem)) .accordion-item-label {
  border-bottom: var(--line-width-xxs) solid var(--light-grey);
}

.accordion details .accordion-subitem {
  padding-top: var(--space-xxs2);
  padding-bottom: var(--space-xxs2);
  border-bottom: var(--line-width-xxs) solid var(--light-grey);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.accordion details .accordion-subitem .new-item-logo{
  width: var(--space-ll);
  height: var(--space-2);
  margin-right: var(--space-xs);
}

/* Media queries starts here */

@media screen and (width >= 48rem) {
  /* CSS styles to apply when the screen width is more than 768px or 48rem */
  .sidepanel {
    display: none;
  }

  .hamburger-menu {
    display: none;
  }

  /* global margin on the left and right side of full page */
  .container {
    max-width: var(--layout-main-container);
    width: 100%;
    margin: 0 auto;
  }

  .global-navigator .container{
    display: flex;
  }

  .top-bar .row1 {
    margin-right: var(--space-2);
  }

  .top-bar .logo img {
    width: var(--layout-logo-main);
    height: auto;
  }

  .top-bar .row1 .primary-buttons button.desktop-element {
    display: block;
  }

  .top-bar .row1 .primary-buttons .search-bar .search-bar-container {
    display: flex;
  }

  .top-bar .row1 .primary-buttons .mobile-element {
    display: none;
  }
}