.block.header button {
  font-family: inherit;
}

.block.header a:hover {
  text-decoration: none;
}

.block.header .top-bar {
  border-bottom: var(--line-width-thin) solid var(--background-color-dark-grey);
  background-color: var(--color-white);
}

.block.header .top-bar .section-container{
  display: flex;
  flex-direction: column;
  padding: 0.6rem 0.9rem 0.3rem;
}

.block.header .top-bar .row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.block.header .top-bar .row1 .primary-buttons {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
  gap: var(--line-width-thin);
}

.block.header .top-bar .row1 .primary-buttons button.desktop-element {
  display: none;
}

.block.header .top-bar .search-icon {
  width:  1.25rem;
  height:  1.25rem;
  margin-left:  0.3rem;
}

.block.header .top-bar .logo img{
  flex-grow: 1;
  margin-left: 0.6rem;
  width: 9.375rem;
}

/* round button specific css */
.block.header .round-button {
  border: none;
  border-radius: 1.6rem;
  background: var(--link-color-dark-blue);
  color: var(--color-white);
  min-height: 2rem;
  padding: var(--line-width-thin) 0.45rem var(--line-width-hairline) 0.45rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--heading-font-size-xxs);
  cursor: pointer;
  margin-left: 0.3rem;
  list-style: none;
}

.block.header .round-button:hover {
  background: var(--color-blue-dark);
}

.block.header .round-button.gradient-orange {
  background-image: linear-gradient(to bottom, var(--button-color-orange), var(--color-maroon));
}

/* Dynamic stock bar retated css */
.block.header .share-index-bar {
  display: none;
}

.block.header .share-index-bar .section-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.block.header .share-index-bar .big-menu {
  display: none;
}

.block.header .share-index-bar .big-menu a {
  font-size: var(--heading-font-size-mxs);
  color: var(--color-gray-dark);
  padding-top: var(--space-8px);
  padding-bottom: var(--space-8px);
  cursor: pointer;
}

.block.header .share-index-bar .big-menu a.selected {
  color: var(--color-white);
  background-color: var(--color-blue-dark);
  margin-left: calc(var(--space-1px) * -1);
}

.block.header .share-index-bar .big-menu div {
  padding-left: var(--space-8px);
  padding-right: var(--space-8px);
}

.block.header .share-index-bar .big-menu a:not(:last-child) div {
  border-right: var(--line-width-hairline) solid var(--color-blue-dark);
}

.block.header .share-index-bar .dynamic-stock-index {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  font-size: var(--heading-font-size-mxs);
}

.block.header .share-index-bar .dynamic-stock-index .stock-item {
  padding: var(--space-8px);
}

.block.header .share-index-bar .dynamic-stock-index .share-value.negative {
  color: var(--color-red);
}

.block.header .share-index-bar .dynamic-stock-index .share-value.positive {
  color: var(--color-green);
}

.block.header .share-index-bar .dynamic-stock-index .share-change.share-down {
  color: var(--color-red);
}

.block.header .share-index-bar .dynamic-stock-index .share-change.share-up {
  color: var(--color-green);
}

.block.header .share-index-bar .dynamic-stock-index .share-change.share-down::before {
  font-family: icomoon, sans-serif;
  color: var(--color-red);
  content: "\e900";
  display: inline-block;
  transform: rotate(180deg);
}

.block.header .share-index-bar .dynamic-stock-index .share-change.share-up::before {
  font-family: icomoon, sans-serif;
  color: var(--color-green);
  content: "\e900";
  display: inline-block;
}

/* hamburger menu icon creation */

.block.header .hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 1.875rem;
  cursor: pointer;
  margin-right: 0.3rem;
  margin-top: 0.3rem;
}

/* stylelint-disable-next-line no-descending-specificity */
.block.header .hamburger-menu div {
  width: 1.6rem;
  height: var(--line-width-thin);
  background-color: var(--link-color-dark-blue);
  margin: var(--line-width-thin) 0;
}

/* hamburger pannel related css */

.block.header .sidepanel  {
  width: 16.875rem;
  position: fixed;
  z-index: 10;
  height: 100%;
  top: 0;
  left: -16.875rem;
  background-color: var(--color-white);
  overflow: hidden auto;
  transition: 0.4s;
  box-shadow: none;
  display: flex;
  flex-direction: column;
}

.block.header .sidepanel::-webkit-scrollbar {
  display: none;
}

.block.header .sidepanel.open {
  transform: translateX(100%);
  box-shadow: var(--line-width-extra-light) 0 0.6rem calc((0.3rem) * -1) #000000bf;
}

.block.header .sidepanel .top-area {
  display: flex;
  flex-direction: row;
  margin-top: 0.6rem;
  margin-left: 0.9rem;
}

.block.header .sidepanel .top-area-logo {
  margin-left: 0.6rem;
  align-self: center;
}

.block.header .sidepanel .top-area-logo img {
  width: 9.375rem;
}

.block.header .sidepanel .bottom-area {
  display: flex;
  flex-direction: column;
  margin-top:  1.3rem;
}

.block.header .bottom-area-primary-actions{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  padding-bottom: 1.6rem;
  border-bottom: var(--line-width-hairline) solid #415270;
}

/* hamburger menu close button */

.block.header .sidepanel .top-area-closebutton {
  width: 2rem;
  height: 2rem;
  align-self: center;
}

.block.header .hamburger-menu-close {
  height: 1.6rem;
  width: 1.6rem;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  margin-top: 0.3rem;
}

.block.header .hamburger-menu-close .line {
  width: 100%;
  height: var(--line-width-thin);
  background-color: var(--link-color-dark-blue);
}

.block.header .hamburger-menu-close .line-1 {
  transform: rotate(45deg) translateY(50%);
}

.block.header .hamburger-menu-close .line-2 {
  transform: rotate(-45deg) translateY(-50%);
}

/* Search bar related css */

.block.header .search-bar .search-bar-container{
  display: none;
  flex-direction: row;
  justify-content: center;
  font-size: var(--heading-font-size-xxs);
  color: var(--color-gray-dark);
  max-height: 2.125rem;
  margin-left: 1rem;
}

.block.header .search-bar .category-picker {
  border: var(--line-width-hairline) solid var(--color-light-gray-dark);
  border-radius: 1.875rem 0 0 1.875rem;
  padding: 0.6rem 0;
  min-width: 7.188rem;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.block.header .search-bar .search-box {
  padding: 0.6rem 0;
  border: var(--line-width-hairline) solid var(--color-light-gray-dark);
  border-left: none;
  border-radius: 0 1.875rem 1.875rem 0;
  min-width: 17.188rem;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.block.header .search-bar .search-box .search-field {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.block.header .search-bar .category-picker .dropdown-select {
  margin-left: 0.9rem;
  min-width: inherit;
  position: relative;
}

.block.header .search-bar .category-picker .dropdown-toggle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.block.header .search-bar .category-picker .icon-down-arrow {
  font-family: icomoon, sans-serif;
  margin-right: 0.6rem;
  font-weight: var(--font-weight-bolder);
  color: var(--link-color-dark-blue);
  font-size: var(--heading-font-size-mxs);
  user-select: none;
}

.block.header .search-bar .category-picker .dropdown-menu-container {
  display: none;
}

.block.header .search-bar .category-picker .dropdown-menu-container.visible {
  display: block;
  position: absolute;
  z-index: 1;
  top: 1.563rem;
  right: 0;
  user-select: none;
}

.block.header .search-bar .category-picker .dropdown-menu {
  list-style: none;
  padding: var(--space-8px) 0;
  text-align: left;
  background-color: var(--color-white);
  border: var(--line-width-hairline) solid var(--color-lighter-gray);
  border-radius: 0.25rem;
  min-width: 8.125rem;
}

.block.header .search-bar .category-picker .dropdown-menu li {
  padding: var(--space-5px) var(--space-10px);
  font-size: var(--heading-font-size-sxs);
}

.block.header .search-bar .category-picker .dropdown-menu li:hover, li.selected {
  background-color: var(--background-color-dark-grey);
}

.block.header .search-bar .search-box input, input::placeholder {
  margin-left: 0.9rem;
  min-width: 10rem;
  border: none;
  width: 100%;
  outline: none;
  font-size: var(--heading-font-size-xs);
  color: var(--color-light-gray);
  user-select: none;
}

.block.header .search-bar .search-box input:focus{
  color: var(--link-color-dark-blue);
}

.block.header .search-bar .search-box .search-icon {
  margin-top: calc(var(--line-width-extra-light) * -1);
  margin-right: 0.9rem;
}

/* Topmost grey navigator related css */

.block.header .global-navigator {
  background-color: var(--color-lighter-gray);
}

.block.header .global-navigator .section-container {
  display: none;
  overflow-x: auto;
}

.block.header .global-navigator .section-container::-webkit-scrollbar {
  display: none;
}

.block.header .global-navigator .global-section-item {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  flex: 0 0 auto;
}

.block.header .global-navigator .global-section-item a {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  text-decoration: none;
  font-size: var(--heading-font-size-sxs);
  color: var(--color-gray-dark);
}

.block.header .global-navigator .global-section-item a:hover {
  color: var(--link-color-dark-blue);
}

.block.header .global-navigator .global-section-item:not(:last-child) a {
  border-right: var(--line-width-hairline) solid var(--color-light-gray);
}

.block.header .accordion {
  font-size: var(--heading-font-size-sxs);
  color: var(--color-light-gray);
}

/* stylelint-disable-next-line no-descending-specificity */
.block.header .accordion a {
  text-decoration: none;
  color: inherit;
  user-select: none;
}

.block.header .accordion details summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color 0.2s;
}

.block.header .accordion details .accordion-item-label {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: var(--line-width-hairline) solid var(--background-color-dark-grey);
}

/* stylelint-disable-next-line no-descending-specificity */
.block.header .accordion details a, .accordion-item-expand {
  font-size: var(--heading-font-size-sxs);
  color: var(--color-light-gray);
  margin-left: 0.9rem;
  margin-right: 0.9rem;
}

.block.header .accordion details .accordion-item-expand {
  font-weight: var(--font-weight-semibold);
  font-size: large;
  color: var(--link-color-dark-blue);
}

/* for no sub items, hide the plus symbol */
.block.header .accordion details:not(:has(.accordion-subitem)) .accordion-item-expand {
  display: none; 
}

.block.header .accordion details[open] .accordion-item-label {
  border-bottom: none;
  
  a {
    color: var(--link-color-dark-blue);
  }
}

.block.header .accordion details:not(:has(.accordion-subitem)) .accordion-item-label {
  border-bottom: var(--line-width-hairline) solid var(--background-color-dark-grey);
}

.block.header .accordion details .accordion-subitem {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: var(--line-width-hairline) solid var(--background-color-dark-grey);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.block.header .accordion details .accordion-subitem .new-item-logo{
  width: 1.875rem;
  height: 1.25rem;
  margin-right: 0.6rem;
}

/* CSS styles to apply when the screen width is more than 576 px and less than 768px */
@media screen and (width >= 36rem) and  (width < 48rem) {
  .block.header .share-index-bar {
    display: block;
    border-bottom: var(--line-width-hairline) solid var(--background-color-dark-grey);
  }

  .block.header .share-index-bar .section-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

/* CSS styles to apply when the screen width is more than 768px */
@media screen and (width >= 48rem) {
  .block.header .sidepanel {
    display: none;
  }

  .block.header .hamburger-menu {
    display: none;
  }

  /* global margin on the left and right side of full page */
  .block.header .section-container {
    max-width: 81.25rem;
    width: 100%;
    padding: 0 1rem;
    margin-right: auto;
    margin-left: auto;
  }

  .block.header .global-navigator .section-container{
    display: flex;
  }

  .block.header .top-bar {
    border-bottom: var(--line-width-hairline) solid var(--background-color-dark-grey);
  }

  .block.header .top-bar .logo img {
    width: 15.625rem;
    height: auto;
  }

  .block.header .top-bar .row1 .primary-buttons button.desktop-element {
    display: block;
  }

  .block.header .top-bar .row1 .primary-buttons .search-bar .search-bar-container {
    display: flex;
  }

  .block.header .top-bar .row1 .primary-buttons .mobile-element {
    display: none;
  }

  .block.header .share-index-bar {
    display: block;
    border-bottom: var(--line-width-hairline) solid var(--background-color-dark-grey);
  }

  .block.header .share-index-bar .big-menu {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    width: 52%;
  }

  .block.header .share-index-bar .dynamic-stock-index .stock-item .spn-date-time {
    padding-right: var(--space-8px);
    border-right: var(--line-width-hairline) solid var(--color-blue-dark);
  }
}