

.border-box {
    box-sizing: border-box;
    outline: none;
}

.explore-section{
    margin-top: 15px;
    box-sizing: border-box;
    outline: none;
}

.explore-section .ideas-strike {
    background: #FAE4D1;
    font-weight: 600;
    padding: 7px;
    width: fit-content;
    display: flex;
    margin-left: auto;
    margin-bottom: 15px;
    box-sizing: border-box;
    outline: none;
}

.explore-section .ideas-strike img {
    margin: 0 10px;
    width: 20px;
}

.explore-container {
    background-color: #FCFCFC;
    border: 1px solid rgb(14 31 53 / 20%);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-sizing: border-box;
    outline: none;
}

.explore-container .explore-header {
    background-color: #053d6e;
    padding: 10px 15px;
    box-sizing: border-box;
    outline: none;
}

@media (width >= 768px) {
    .explore-container .explore-header {
        padding: 10px 45px;
    }
}


.explore-container .explore-body {
    padding: 15px 30px;
    box-sizing: border-box;
    outline: none;
}


.explore-container .explore-header h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 20px;
    box-sizing: border-box;
    outline: none;
}

@media (width >= 575px) {
    .explore-container .explore-header h3 {
        font-size: 18px;
        line-height: 24px;
    }
}

@media (width >= 768px) {
    .explore-container .explore-header h3 {
        font-size: 24px;
        line-height: 24px;
    }
}

.explore-container .explore-header .carousel-title {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
}

@media (width>= 768px) {
    .explore-container .explore-header .carousel-title {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.explore-container .explore-header .dropdowns {
    text-align: right;
    flex: 0 0 66.6666%;
    max-width: 66.6666%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    outline: none;
}

@media (width>= 768px) {
    .explore-container .explore-header .dropdowns {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.explore-container .explore-header .dropdowns .dropdown-select {
    margin-left: 10px;
    background-color: #fff;
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
}

.explore-container .explore-header .dropdowns .icon-down-arrow {
    right: 10px;
    position: absolute;

}

.explore-container .explore-header .dropdowns .icon-down-arrow::before {
    color: #E87817;
    content: "\e905";
    font-size: 12px;
    font-weight: 800;
    font-family: icomoon, sans-serif;

}

.explore-container .explore-header .dropdown-toggle {
    float: none;
    display: inline-block;
    margin-left: 0;
    position: relative;
    align-items: flex-end;
    height: 30px;
    min-width: auto;
    min-height: auto;
    background-color: transparent;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0 30px 0 10px;
    border: 1px solid #dee2e6;
    border-radius: 0;
    cursor: pointer;
}

.explore-container .explore-header .dropdown-toggle .dropdown-text {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.explore-container .explore-header .dropdown-menu-container {
    position: absolute;
    inset: 0 auto auto 0;
    z-index: 1000;
    overflow: hidden;
    will-change: transform;
    transform: translate3d(0, 30px, 0);
    display: none;
    float: left;
    min-width: 100%;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
}

.explore-container .explore-header .dropdown-menu {
    position: static;
    float: none;
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    font: 400 16px/20px Poppins, sans-serif;
    list-style-position: inside;
    box-sizing: border-box;
    text-wrap: nowrap;
}

.explore-container .explore-header .dropdown-menu  li {
    position: relative;
    font-size: 13px;
    text-transform: capitalize;
    display: block;
}

.explore-container .explore-header .dropdown-menu  li a {
    padding: 5px 10px;
    color: #415270;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

.explore-container .explore-header .dropdown-menu  li a span {
    display: inline-block;
}


.explore-container .explore-body .slick-slider {
    margin-bottom: 30px;
}

.explore-container .explore-body .slick-slider .value-col {
    flex: 0 0 50%;
    max-width: 50%;
}

.explore-container .explore-body .discover-more {
    text-align: center;
}

@media (width >= 768px) {
    .explore-container .explore-body .discover-more {
        text-align: right;
    }

}

.explore-container .explore-body .discover-more .link-color {
    font-size: 16px;
}


.explore-container .explore-body .discover-more .link-color .icon-up-arrow {
    transform: rotate(90deg);
    margin-left: 5px;
}

.explore-container .explore-body .discover-more .link-color .icon-up-arrow::before {
    content: "\e900";
}

.explore-section .explore-container .explore-body .research-slider .slick-track,
.explore-section .explore-container .explore-body .research-slider .slick-list {
    transform: translate3d(0, 0, 0);
}

.explore-section .explore-container .explore-body .research-slider .slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

.explore-section .explore-container .explore-body .research-slider .slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    flex-wrap: nowrap;
    transition: transform 0.5s ease;
}

.explore-section .explore-container .explore-body .research-slider .slick-track > * {
    opacity: 0;
}

.explore-section .explore-container .explore-body .research-slider .slick-track > :first-child {
    opacity: 1;
}

/* Tablet: first 2 children have opacity 1 and divide the width equally */
@media (width >= 768px) {
    .explore-section .explore-container .explore-body .research-slider .slick-track > :nth-child(-n+2) {
        opacity: 1;
    }
}

/* Desktop: first 4 children have opacity 1 and equally divide the parent's width */
@media (width >= 1024px) {
    .explore-section .explore-container .explore-body .research-slider .slick-track > :nth-child(-n+4) {
        opacity: 1;
    }
}

.explore-section .explore-container .explore-body .research-slider .slick-slide {
    float: left;
    height: 100%;
    transition: opacity 0.5s ease;
    padding: 8px 12px;
    box-sizing: border-box;
    outline: none;
    display: block;
}


@media (width <= 767px) {
    .explore-section .explore-container .explore-body .research-slider .slick-slide {
        padding: 8px;
    }
}

.explore-section .explore-container .explore-body .research-slider .slick-slide img {
    display: block;
}

.explore-container .explore-body .research-slider .box {
    box-shadow: 4px 4px 24px rgb(0 0 0 / 8%);
    background: #fff;
    height: 100%;
    padding: 15px 15px 50px;
    transition: all ease-in-out 0.3s;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    outline: none;
}

.explore-container .explore-body .research-slider .box.box-theme {
    padding-bottom: 75px;
}

.positive {
    color: #259702
}

.negative {
    color: #da0000
}



.explore-container .explore-body .research-slider .box .heading-wrap {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.explore-container .explore-body .research-slider .box .heading-wrap h4 {
    font-size: 13px;
    line-height: 16px;
    color: #053d6e;
    font-weight: 500;
    width:175px
}

.explore-container .explore-body .research-slider .box .heading-wrap .icon-wrap {
    margin-left: auto;
    display: flex;
    align-items: center;
    vertical-align: bottom;
}



.explore-container .explore-body .research-slider .box .heading-wrap .icon-wrap a + a {
    margin-left: 10px;
}

.explore-container .explore-body .research-slider .box .value-content {
    padding: 5px 0;
}

.explore-container .explore-body .research-slider .box .value-content.field-content {
    background-color: #EFF6FF;
    padding: 5px 12px;
    max-width: max-content;
    width: 100%;
    min-width: 90px;
    border-radius: 8px;
    text-align: left;
}

.explore-container .explore-body .research-slider .box label {
    font-size: 11px;
    line-height: 14px;
    text-align: center;
    color: #4a4a4a;
    font-weight: 300;
    margin-bottom: 5px;
}

.explore-container .explore-body .research-slider .box .label-value {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    margin-block: 0 0;
}

.explore-container .explore-body .research-slider .box .label-value.positive {
    color: #259702
}

.explore-container .explore-body .research-slider .box .label-value.negative {
    color: #da0000
}

.explore-container .explore-body .research-slider .box .value-content.field-content label {
    font-size: 11px;
    line-height: 12px;
    color: #4a4a4a;
    margin-bottom: 0;
    white-space: nowrap;
}

.explore-container .explore-body .research-slider .box .value-content.field-content .label-value {
    font-weight: 700;
}

.explore-container .explore-body .research-slider .box .label-value .icon-rupee {
    font-size: 72%;
    font-weight: 600;
}

.explore-container .explore-body .research-slider .box .label-value .icon-rupee::before {
    content: "\e906";
}

.explore-container .explore-body .research-slider .box .box-footer.box-footer-theme {
    padding: 0;
}

.explore-container .explore-body .research-slider .box .box-footer.one-div {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.explore-container .explore-body .research-slider .box .box-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 10px 15px;
    color: #053d6e;
}

.explore-container .explore-body .research-slider .box .box-footer.box-footer-theme .btn-wrap {
    margin: 0 auto 10px;
}

.explore-container .explore-body .research-slider .box .box-footer.box-footer-theme .footer-label.disable {
    display: none;
}

.explore-container .explore-body .research-slider .box .box-footer.box-footer-theme .footer-label label {
    font-size: 12px;
    line-height: 24px;
    color: #4A4A4A;
    margin-bottom: 0;
}

.explore-section .explore-container .explore-body .research-slider .box .box-footer.box-footer-theme .footer-label .label-value {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #043C6D;
    margin-left: 10px;
}

.explore-container .explore-body .research-slider .box .box-footer .btn {
    color: #fff;
    min-width: 62px;
    font-size: 13px;
    text-transform: inherit;
    padding: 0 14px;
    min-height: 30px;
    line-height: 27px;
    text-align: center;
    font-weight: 600;
    vertical-align: middle;
    background: #E87817;
    border-radius: 30px;
    border: 1px solid transparent;
    box-shadow: 0 7px 17px 5px #050e3517;

}

.explore-container .explore-body .research-slider .box .box-footer .btn.btn-sell{
    background-color: #da0000;
}

.explore-container .explore-body .research-slider .box .box-footer .btn.btn-buy {
    background-color: #259702;
}

.explore-container .explore-body .research-slider .box .box-footer .btn.disabled {
    background: #D1D1D1;
    border-color: #D1D1D1;
    opacity: 1;
    pointer-events: none;
}




.explore-container .explore-body .research-slider .box .box-footer .link-color {
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
}


.explore-container .explore-body .research-slider .box .heading-wrap .icon-wrap img {
    max-width: 16px;
}

.explore-container .explore-body .research-slider .box .row {
    margin: 12px 0 0;
    box-sizing: border-box;
    outline: none;
}

.explore-container .explore-body .research-slider .box .row > div {
    margin: 12px 0 0;
}


.explore-container .explore-body .research-slider .box .box-footer.box-footer-theme .footer-label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #053d6e;
    text-align: center;
    background-color: #EFF6FF;
    width: 100%;
    padding: 3px 0;
}


.dots-container {
    text-align: center;
    margin-top: 20px;
    position: static;
    display: block;
    width: 100%;
}

.dot {
    position: relative;
    display: inline-block;
    height: 14px;
    width: 14px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    background: #D8D8D8;
    border-radius: 50px;
    vertical-align: baseline;
    outline: none;
    box-sizing: border-box;
    border: 0;

}

.dot.active {
    background-color:  #E87817;
}


