/*
 * Copyright 2024 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.explore-section {
    margin-top: 0.9rem;
    box-sizing: border-box;
    outline: none;
}

.explore-section .ideas-strike {
    background: #FAE4D1;
    font-weight: 600;
    padding: 0.5rem;
    width: fit-content;
    display: flex;
    margin-left: auto;
    margin-bottom: 0.9rem;
}

.explore-section .ideas-strike img {
    margin: 0 0.6rem;
    width: 1.3rem;
}

.explore-section .explore-container {
    background-color: #FCFCFC;
    border: 0.06rem solid rgb(14 31 53 / 20%);
    border-bottom-left-radius: 0.9rem;
    border-bottom-right-radius: 0.9rem;
}

.explore-section .explore-header {
    background-color: #053d6e;
    padding: 0.6rem 0.9rem;
}

@media (width >= 48rem) {
    .explore-section .explore-header {
        padding: 0.6rem 3rem;
    }
}


.explore-section .explore-body {
    padding: 0.9rem 1.9rem;
}


.explore-section .explore-header h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.9rem;
    line-height: 1.3rem;
    box-sizing: border-box;
    outline: none;
}

@media (width >= 36rem) {
    .explore-section .explore-header h3 {
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
}

@media (width >= 48rem) {
    .explore-section .explore-header h3 {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
}

.explore-section .carousel-title {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
}

@media (width>= 48rem) {
    .explore-section .carousel-title {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.explore-section .dropdowns {
    text-align: right;
    flex: 0 0 66.6666%;
    max-width: 66.6666%;
    position: relative;
    width: 100%;
    padding-right: 0.9rem;
    padding-left: 0.9rem;
    box-sizing: border-box;
    outline: none;
}

@media (width>= 48rem) {
    .explore-section .dropdowns {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.explore-section .dropdowns .dropdown-select {
    margin-left: 0.6rem;
    background-color: #fff;
    display: inline-block;
    margin-bottom: 0.3rem;
    position: relative;
}

.explore-section .dropdowns .icon-down-arrow {
    right: 0.6rem;
    position: absolute;

}

.explore-section .dropdowns .icon-down-arrow::before {
    color: #E87817;
    content: "\e905";
    font-size: 0.8rem;
    font-weight: 800;
    font-family: icomoon, sans-serif;

}

.explore-section .dropdowns .dropdown-toggle {
    height: 1.9rem;
    background-color: transparent;
    font-size: 0.8rem;
    text-transform: uppercase;
    padding: 0 1.9rem 0 0.6rem;
    border: 0.06rem solid #dee2e6;
    border-radius: 0;
    cursor: pointer;
}

.explore-section .dropdowns .dropdown-toggle .dropdown-text {
    display: inline-block;
    overflow: hidden;
}

.explore-section .dropdowns .dropdown-menu-container {
    position: absolute;
    inset: 0 auto auto 0;
    z-index: 1000;
    overflow: hidden;
    will-change: transform;
    transform: translate3d(0, 1.9rem, 0);
    display: none;
    float: left;
    min-width: 100%;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
}

.explore-section .dropdowns .dropdown-menu {
    float: none;
    border: 0;
    padding: 0;
    margin: 0;
}

.explore-section .dropdowns .dropdown-menu  li {
    font-size: 0.8rem;
    text-transform: capitalize;
    display: block;
}

.explore-section .dropdowns .dropdown-menu  li a {
    padding: 0.3rem 0.6rem;
    color: #415270;
    cursor: pointer;
    text-decoration: none;
}


.explore-section .carousel {
    margin-bottom: 1.9rem;
}

.explore-section .carousel .value-col {
    max-width: 50%;
    margin: 0.8rem 0 0;
}

.explore-section .discover-more {
    text-align: center;
}

@media (width >= 48rem) {
    .explore-section .discover-more {
        text-align: right;
    }

}

.explore-section .discover-more .link-color {
    font-size: 1rem;
}


.explore-section .discover-more .link-color .icon-up-arrow {
    transform: rotate(90deg);
    margin-left: 0.3rem;
}

.explore-section.discover-more .link-color .icon-up-arrow::before {
    content: "\e900";
}

.explore-section .research-slider .carousel-track,
.explore-section .research-slider .carousel-list {
    transform: translate3d(0, 0, 0);
}

.explore-section .research-slider .carousel-list {
    overflow: hidden;
}

.explore-section .research-slider .carousel-track {
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    transition: transform 0.5s ease;
}

.explore-section .research-slider .carousel-track > * {
    opacity: 0;
}

.explore-section .research-slider .carousel-track > :first-child {
    opacity: 1;
}

@media (width >= 48rem) {
    .explore-section .research-slider .carousel-track > :nth-child(-n+2) {
        opacity: 1;
    }
}

@media (width >= 64rem) {
    .explore-section .research-slider .carousel-track > :nth-child(-n+4) {
        opacity: 1;
    }
}

.explore-section .research-slider .carousel-card {
    transition: opacity 0.5s ease;
    padding: 0.5rem;
}


@media (width >= 48rem) {
    .explore-section .research-slider .carousel-card {
        padding: 0.5rem 0.8rem;
    }
}

.explore-section .research-slider .carousel-card img {
    display: block;
}

.explore-section .research-slider .box {
    box-shadow: 0.3rem 0.3rem 1.5rem rgb(0 0 0 / 8%);
    background: #fff;
    padding: 0.9rem 0.9rem 3rem;
    position: relative;
}

.explore-section .research-slider .box.box-theme {
    padding-bottom: 5rem;
}

.explore-section .research-slider .box .heading-wrap {
    display: flex;
}

.explore-section .research-slider .box .heading-wrap h4 {
    font-size: 0.8rem;
    line-height: 1rem;
    color: #053d6e;
    font-weight: 500;
    width:11rem;
}

.explore-section .research-slider .box .heading-wrap .icon-wrap {
    display: flex;
    align-items: center;
}



.explore-section .research-slider .box .heading-wrap .icon-wrap a + a {
    margin-left: 0.6rem;
}

.explore-section .research-slider .box .value-content {
    padding: 0.3rem 0;
}

.explore-section .research-slider .box .value-content.field-content {
    background-color: #EFF6FF;
    padding: 0.3rem 0.8rem;
    max-width: max-content;
    width: 100%;
    min-width: 6rem;
    border-radius: 0.5rem;
    text-align: left;
}

.explore-section .research-slider .box label {
    font-size: 0.6rem;
}

.explore-section .research-slider .box .label-value {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.3rem;
    margin-block: 0 0;
}

.explore-section .research-slider .box .label-value.positive {
    color: #259702
}

.explore-section .research-slider .box .label-value.negative {
    color: #da0000
}

.explore-section .research-slider .box .value-content.field-content label {
    font-size: 0.6rem;
    line-height: 0.8rem;
    color: #4a4a4a;
    margin-bottom: 0;
    white-space: nowrap;
}

.explore-section .research-slider .box .value-content.field-content .label-value {
    font-weight: 700;
}

.explore-section .research-slider .box .label-value .icon-rupee {
    font-size: 72%;
    font-weight: 600;
}

.explore-section .research-slider .box .label-value .icon-rupee::before {
    content: "\e906";
}

.explore-section .research-slider .box .box-footer.box-footer-theme {
    padding: 0;
}

.explore-section .research-slider .box .box-footer.one-div {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.explore-section .research-slider .box .box-footer {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    justify-content: space-between;
    padding: 0.6rem 0.9rem;
}

.explore-section .research-slider .box .box-footer.box-footer-theme .btn-wrap {
    margin: 0 auto 0.6rem;
}

.explore-section .research-slider .box .box-footer.box-footer-theme .footer-label.disable {
    display: none;
}

.explore-section .research-slider .box .box-footer.box-footer-theme .footer-label label {
    font-size: 0.7rem;
    line-height: 1.5rem;
    color: #4A4A4A;
    margin-bottom: 0;
}

.explore-section .research-slider .box .box-footer.box-footer-theme .footer-label .label-value {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #043C6D;
    margin-left: 0.6rem;
}

.explore-section .research-slider .box .box-footer .btn {
    color: #fff;
    min-width: 4rem;
    font-size: 0.8rem;
    text-transform: inherit;
    padding: 0 0.9rem;
    min-height: 1.9rem;
    line-height: 1.8rem;
    text-align: center;
    font-weight: 600;
    vertical-align: middle;
    background: #E87817;
    border-radius: 1.9rem;
    border: 0.06rem solid transparent;
    box-shadow: 0 0.6rem 1rem 0.3rem #050e3517;

}

.explore-section .research-slider .box .box-footer .btn.btn-sell{
    background-color: #da0000;
}

.explore-section .research-slider .box .box-footer .btn.btn-buy {
    background-color: #259702;
}

.explore-section .research-slider .box .box-footer .btn.disabled {
    background: #D1D1D1;
    border-color: #D1D1D1;
    opacity: 1;
    pointer-events: none;
}

.explore-section .research-slider .box .box-footer .link-color {
    font-size: 0.9rem;
    line-height: 1.2rem;
    font-weight: 500;
}


.explore-section .research-slider .box .heading-wrap .icon-wrap img {
    max-width: 1rem;
}



.explore-section .research-slider .box .box-footer.box-footer-theme .footer-label {
    display: flex;
    justify-content: center;
    background-color: #EFF6FF;
    width: 100%;
    padding: 0.19rem 0;
}


.explore-section .dots-container {
    text-align: center;
    margin-top: 1.3rem;
}

.explore-section .dots-container .dot {
    height: 0.9rem;
    width: 0.9rem;
    margin: 0 0.3rem;
    padding: 0;
    cursor: pointer;
    background: #D8D8D8;
    border-radius: 3rem;
    border: 0;
}

.explore-section .dots-container .dot.active {
    background-color:  #E87817;
}


