.block.faq {
    margin-top: 1.5rem;
    position: relative;
}

.block.faq .faq-title {
    margin-bottom: 1.125rem;
    text-align: center;
}

.block.faq .faq-title::before {
    content: "";
    position: absolute;
    border-bottom: 0.0625rem solid var(--border-color-light-gray);
    height: 0.0625rem;
    width: 100%;
    top: 1.3rem;
    left: 0;
    transform: translateY(-50%);
}

.block.faq .faq-title h2 {
    font-size: var(--heading-font-size-m);
    line-height: 1.25rem;
    color: var(--color-dark);
    text-transform: uppercase;
    background: var(--color-white);
    padding: 0.3125rem 1rem;
    margin: unset;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-align: center;
    vertical-align: baseline;
}

.block.faq .faq-title h2 img {
    height: 2rem;
    margin-right: 0.625rem;
    vertical-align: middle;
}

.block.faq .faq-content > div {
    padding: 0;
    margin-bottom: 1rem;
    background: var(--color-white);
    border: 0.0625rem solid var(--border-color-gray);
    box-sizing: border-box;
    border-radius: 0.3125rem;
    overflow: hidden;
    min-width: 0;
    word-wrap: break-word;
    transition: all 0.2s ease-out;
}

.block.faq .faq-content .faq-item-title {
    font-size: var(--body-font-size-s);
    line-height: 1.375rem;
    padding: 0.5rem 1.875rem 0.5rem 1rem;
    color: var(--color-dark);
    font-weight: var(--font-weight-medium);
    position: relative;
    display: block;
    cursor: pointer;
}

.block.faq .faq-content .faq-item-title i {
    position: absolute;
    right: 0.625rem;
    font-style: normal;
    font-weight: var(--font-weight-semibold);
    font-size: var(--heading-font-size-m);
    top: 50%;
    transform: translateY(-50%);
}

.block.faq .faq-content .faq-item-title i::after {
    content: "+";
}

.block.faq .faq-content .faq-item-title.visible i::after {
    content: "-";
}

.block.faq .faq-content .faq-item-content {
    color: var(--color-dark);
    word-wrap: break-word; 
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.2s ease-out;
}

.block.faq .faq-content .faq-item-content > div {
    overflow: hidden;
}

.block.faq .faq-content .faq-item-content > div p {
    overflow: hidden;
    font: var(--font-weight-regular) 0.875rem / 1.5rem var(--body-font-family), sans-serif;
    padding: 0.75rem 1rem;
    margin-bottom: 1.125rem;
}

.block.faq .faq-content .faq-item-content.visible {
    grid-template-rows: 1fr;
}

.block.faq .more-button {
    text-align: center;
    margin-top: 1.5rem;
}

.block.faq .more-button .button {
    display: inline-block;
    font-size: var(--heading-font-size-ms);
    line-height: 2.375rem;
    min-height: 3.125rem;
    font-weight: var(--font-weight-semibold);
    min-width: 12.25rem;
    background: var(--button-color-orange);
    color: var(--color-white);
    text-transform: uppercase;
    border-radius: 1.875rem;
    padding: 0.3125rem 1.25rem;
    border: 0.0625rem solid transparent;
    text-decoration: none;
    cursor: pointer;   
}

.block.faq .faq-content > div.no-visible {
    visibility: hidden;
    height: 0;
    margin: 0;
    border: 0;
}

@media (width >= 576px) {
    .block.faq .faq-title h2 {
        font-size: var(--heading-font-size-ml);
        line-height: 1.75rem;
    }

    .block.faq .faq-content .faq-item-title i {
        font-weight: var(--font-weight-regular);
        font-size: var(--heading-font-size-xxl);
        right: 1.125rem;
    }

    .block.faq .faq-content .faq-item-content > div p {
        font-size: var(--heading-font-size-ms);
    }
}

@media (width >= 768px) {
    .block.faq .faq-content .faq-item-title {
        font-size: var(--heading-font-size-s);
        line-height: 1.5625rem;
        padding: 1.25rem 2.5rem 1.25rem 1.25rem;
    }
    
    .block.faq .faq-content .faq-item-content > div p {
        padding: 1.25rem;
    }
}

@media (width >= 992px) {
    .block.faq .faq-content .faq-item-title {
        font-size: var(--heading-font-size-ml);
    }
}    