footer .footer-wrapper {
  background: #fcfcfc;
}

footer .section.footer-top-note {
  padding-top: 0;
  padding-bottom: 1.25rem;
}

.footer-links .section-container{
  padding-left: 3.438rem;
  padding-right: 3.438rem;
  border-bottom: 0.0625rem solid #979797;
}

.footer-disclaimer .section-container{
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  padding-bottom: 1.875rem;
}

.section.footer-top-note .section-container{
  padding-left: 1rem;
}

.footer-top-note p {
  color: #0e1f35;
  font-size: 0.8125rem;
}

.footer-top .toll-free-number {
  color: #004c84;
  font-size: 2rem;
  font-weight: 700; 
  line-height: 3rem;
  padding-left: 1rem; 
}

.section .footer-top-wrapper {
  position: relative;
  z-index: 99;
  background: var(--color-white);
  border-radius: 3.56rem;
  box-shadow: 0 1.25rem 2.5rem 0 #0e1f354d;
  padding: 1.25rem 3.125rem; ;
  width: 100%;
  margin-bottom: -3.75rem !important;
}

.section .footer-top-container {
  padding-top: 0;
}

.footer-top p {
  font-size: 0.9375rem;
  margin-bottom: 0.5rem !important;
}

.footer-top .col-1  img{
    flex: 0 0 auto;
    border: 0;
    vertical-align: middle;
    max-width: 100%;
    width: 17.19rem;
    height: 2.375rem;
}

.footer-top .col-2 {
  flex: 0 0 auto;
  width: 50%;
  text-align: center;
  position: relative;
  margin-bottom: 0;
}

.footer-top .col-2::before {
  height: 6rem;
  background: #9797974d;
  width: 0.0625rem;
  content: "";
  position: absolute;
  left: 1.25rem;
  top: 0;
  bottom: 0;
  margin: auto;
}

.footer-top .col-2::after {
  height: 6rem;
  background: #9797974d;
  width: 0.0625rem;
  content: "";
  position: absolute;
  right: 1.25rem;
  top: 0;
  bottom: 0;
  margin: auto;
}

.footer-disclaimer p {
  color: #a3a3a3;
  font-size: 0.6875rem;
  line-height: 0.8125rem;
}

.footer-top .col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.footer-top .col-3 p {
  text-align: left;
  padding-left: 1rem;
}

.footer-links {
  background: #3d3d3d;
  padding: 6.875rem 0 0;
} 

.footer-links .links-title {
  font-size: 1rem;
  line-height: 130%;
  color: var(--color-white);
  font-weight: 500;
  display: block;
  margin-bottom: 0.75rem;
}

.footer-links a {
  color: #a3a3a3;
  font-size: 0.8125rem;
  line-height: 138%;
  display: inline-block;
  padding: 0.3125rem 0;
  transition: 0.3s;
  width: 100%; /* Ensuring anchor tags take full width of container */
  max-width: 100%
}

.footer-disclaimer a {
  color: #e87817;
  text-decoration: none;
  background-color: transparent;
  font-size: 0.6875rem;
  transition: 0.3s;
}

.footer-links a:hover {
  color: var(--color-white);
}

@media (width > 48rem) {
  .footer-links .links-column{
    flex: 0 0 auto;
    width: 16.6667%;
  }
}

.footer-links .links-column > div{
  margin: 0 0 1.25rem
}

@media (width < 37.5rem) {
  .footer-top-note p {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}

.footer-top .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.9rem;
  margin-left: -0.9rem;
}

.footer-links .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.9rem;
  margin-left: -0.9rem;
}

@media (width >= 56.25rem) {
  .section > .section-container {
    max-width: 81.25rem;
    margin: auto;
  }
}

.footer-disclaimer {
  background: #3d3d3d;
  padding-top: 1.875rem;
}

.footer-disclaimer a:hover {
  color: var(--link-color-blue);
}

.footer-disclaimer .panel-header {
  position: relative;
  padding: 0.625rem 0;
  padding-right: 2.5rem;
  z-index: 4;
  cursor: pointer;
}

.footer-disclaimer .panel-header strong {
  font-size: 0.9375rem;
  padding-right: 0.9375rem;
  font-weight: 500;
  background-color: #3d3d3d;
  z-index: 2;
  position: relative;
  color: #fff;
}

.footer-disclaimer .panel-header::before {
  content: "";
  position: absolute;
  height: 0.0625rem;
  width: 95%;
  border-bottom: 0.0625rem dashed #979797;
  top: 50%;
  right: 3.125rem;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}

.footer-disclaimer .panel-header .toggle-icon {
  background: #3d3d3d;
  font-size: 1.125rem;
  font-style: normal;
  position: absolute;
  top: 0.375rem;
  right: 0.875rem;
  width: 1.75rem;
  height: 1.75rem;
  text-align: center;
  color: #fff;
  border: 0.0625rem solid #fff;
  border-radius: 50%;
  z-index: 10;
}

.footer-disclaimer .panel-body {
  padding: 0.625rem 0;
}

.footer-disclaimer .panel-body span{
  color: #a3a3a3;
  font-size: 0.875rem;
}

.footer-disclaimer .section-container .default-content-wrapper > div {
  overflow: hidden;
  max-height: 200rem;
  opacity: 1;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}

.footer-disclaimer .panel-body.slide-up {
  max-height: 0 !important;
  opacity: 0 !important;
}
