/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --background-color-light-grey: #FCFCFC;
  --background-color-transparent: transparent;
  --background-color-unset: unset;
  --background-color-disable: unset;
  --background-color-dark-grey: #D8D8D8;
  --background-color-light-orange: #FAE4D1;
  --background-color-light-blue: #EFF6FF;
  --color-white: #fff;
  --color-red: #da0000;
  --color-green: #259702;
  --color-orange: #E87817;
  --color-blue: #053d6e;
  --color-diable-element: #D1D1D1;
  --color-disable-dot: #D1D1D1;
  --light-color: #eee;
  --dark-color: #ccc;
  --text-color-normal: #212529;
  --text-color-light: #4a4a4a;
  --text-color-blue: #043C6D;
  --link-color-blue: #4b9dff;
  --link-color-dark-blue: #415270;

  /* fonts */
  --body-font-family: "Poppins", "Poppins Fallback";
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 64px;

  /* Font Weight */
  --font-weight-small: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-bolder: 800;
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}

@font-face {
  font-family: 'Poppins Fallback';
  font-style: normal;
  font-weight: var(--font-weight-regular);
  src: local('Arial');
  ascent-override: 105.00%;
  descent-override: 35.00%;
  line-gap-override: 10.00%;
  size-adjust: 100.00%;
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

@font-face {
  font-family: 'Poppins Fallback';
  font-style: normal;
  font-weight: var(--font-weight-regular);
  src: local('Arial');
  ascent-override: 105.00%;
  descent-override: 35.00%;
  line-gap-override: 10.00%;
  size-adjust: 100.00%;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Poppins Fallback';
  font-style: normal;
  font-weight: var(--font-weight-regular);
  src: local('Arial');
  ascent-override: 92.83%;
  descent-override: 30.94%;
  line-gap-override: 8.84%;
  size-adjust: 113.11%;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Poppins Fallback';
  font-style: normal;
  font-weight: var(--font-weight-medium);
  src: local('Arial');
  ascent-override: 105.00%;
  descent-override: 35.00%;
  line-gap-override: 10.00%;
  size-adjust: 100.00%;
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

@font-face {
  font-family: 'Poppins Fallback';
  font-style: normal;
  font-weight: var(--font-weight-medium);
  src: local('Arial');
  ascent-override: 105.00%;
  descent-override: 35.00%;
  line-gap-override: 10.00%;
  size-adjust: 100.00%;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Poppins Fallback';
  font-style: normal;
  font-weight: var(--font-weight-medium);
  src: local('Arial');
  ascent-override: 91.82%;
  descent-override: 30.61%;
  line-gap-override: 8.74%;
  size-adjust: 114.36%;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Poppins Fallback';
  font-style: normal;
  font-weight: var(--font-weight-bold);
  src: local('Arial');
  ascent-override: 105.00%;
  descent-override: 35.00%;
  line-gap-override: 10.00%;
  size-adjust: 100.00%;
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

@font-face {
  font-family: 'Poppins Fallback';
  font-style: normal;
  font-weight: var(--font-weight-bold);
  src: local('Arial');
  ascent-override: 105.00%;
  descent-override: 35.00%;
  line-gap-override: 10.00%;
  size-adjust: 100.00%;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Poppins Fallback';
  font-style: normal;
  font-weight: var(--font-weight-bold);
  src: local('Arial');
  ascent-override: 89.77%;
  descent-override: 29.92%;
  line-gap-override: 8.55%;
  size-adjust: 116.97%;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@media (width >= 900px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }
}

body {
  margin: 0;
  font: var(--font-weight-regular) 0.9rem Poppins, "Poppins Fallback";
  color: var(--text-color-normal);
  -webkit-font-smoothing: antialiased;
  position: relative;
  min-height: 100vh;
  background-color: var(--color-white);
  text-align: left;
  line-height: 1.5;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

main pre {
  background-color: var(--light-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

button:disabled, button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: var(--background-color-unset);
  border: 2px solid currentcolor;
  color: var(--text-color-normal)
}





/* sections */
main .section {
  padding: 64px 16px;
}

@media (width >= 600px) {
  main .section {
    padding: 64px 32px;
  }
}

@media (width >= 900px) {
  .section > div {
    max-width: 1200px;
    margin: auto;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
}

div, span, strong, p, a, i {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

h3 {
  font-weight: var(--font-weight-semibold);
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  line-height: 1.2;
}

a {
  color: var(--link-color-blue);
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
  background-color: var(--background-color-transparent);
}

.align-items-center {
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.9rem;
  margin-left: -0.9rem;
}

.col {
  position: relative;
  width: 100%;
  padding-right: 0.9rem;
  padding-left: 0.9rem;
}

.icon {
  font-family: icomoon, sans-serif;
  speak: none;
  font-style: normal;
  font-weight: var(--font-weight-medium);
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  vertical-align: middle;
}

p {
  font: var(--font-weight-regular) 1rem/1.5rem Poppins, "Poppins Fallback";
  color: var(--text-color-light);
  margin-bottom: 1.25rem;
}

p:last-child {
  margin-bottom: 0;
}

.link-color {
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-orange);
}

.border-box {
  box-sizing: border-box;
  outline: none;
}

.positive {
  color: var(--color-green);
}

.negative {
  color: var(--color-red);
}